/* CSS reset: setting box-sizing to border-box for all elements, meaning that widht and height are calculated including the border and padding */
* {
    box-sizing: border-box;
}

/* general styles: remove default margin and padding, changing background and text color, setting font size and family */
html, body {
    --border-radius: 100px; /* setting a CSS variable for border radius to be used throughout the stylesheet */
    --color1: #0151ff; /* dark blue */
    --color2: #d6a3fb; /* light purple */
    --color3: #d0ff94; /* light green */
    --gutter: 3.125vw 6.25vw; /* setting a CSS variable for gutter/padding to be used throughout the stylesheet */
    margin: 0;
    padding: 0;
    background: #000000;
    color: #ffffff;
    font-size: 30px;
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 70px;
    line-height: 1em;
    margin: 0px;
}

h2 {
    font-size: 60px;
    margin: 0px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

section {
    display: flex;
    width: 100%; /* making each section take full viewport width and height */
    position: relative; /* setting position relative to use absolute positioning for the nav bar */
    height: calc(100vh - 100px); /* making each section take not the full viewport height but leaving space for the navigation bar */
    top: 100px; /* pushing the sections down by the height of the nav bar */
    z-index: 2; /* making sure the sections are above other content and under other */
}

/* setting the sections that should scroll a certain way ("sticky" scrolling) to be sticky */
section.sticky {
    position: sticky;
    margin-top: 100px; /* making the sticky section stick below the navigation bar */
}

/* setting the sections intended for being full screen to cover the entire viewport */
section.full-screen {
    height: 100vh; /* making the section take the full viewport height */
    top: 0; /* making the section start from the top of the viewport */
    margin-top: 0; /* removing any top margin */
    z-index: 3; /* making sure the full-screen section is above other content */
}


/* styles for the navigation bar */

nav {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;   
    font-size: 20px;
    z-index: 1; /* making sure the navigation bar is above other content */
}

nav ul {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    margin-left: 45px;
}

nav ul li a {
    color: #ffffff;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}


/* styles for the about section */

section.about .empty {
    flex-basis: 37.5vw;
    background: #e5e5e5;
    border-radius: var(--border-radius);
    transition: flex-basis 1s cubic-bezier(0,.9,.4,.99); /* making the flex-basis change transition smoothly over 0.5 seconds, with the selected bezier function as timing funciton*/
}

section.about article {
    flex: 1;
    display: flex;
    flex-direction: column;
}

section.about article .title {
    background: var(--color1);
    border-radius: var(--border-radius);
    flex: 1;
    display: flex; /* using flexbox to decide where to automatically put the content i.e. the text */
    align-items: flex-end; /* align text to the bottom of the container */
    padding: var(--gutter); /* padding around the text, using vw to make it responsive */
    transition: flex-basis 1s cubic-bezier(0,.9,.4,.99); /* making the flex-basis change transition */

}


section.about article .description {
    background: var(--color2);
    border-radius: var(--border-radius);
    color: #000000;
    flex: 1; 
    display: flex; /* using flexbox to decide where to automatically put the content i.e. the text */
    align-items: center; /* align text to the vertical center of the container */
    padding: var(--gutter); /* padding around the text, using vw to make it responsive */
}


/* styles for the service section */

section.service article {
    display: flex;
    width: 100%;
}


section.service figure {
    background: var(--color3);
    border-radius: var(--border-radius);
    margin: 0; /* removing default margin of figure */
    flex-basis: 56.25vw; /* setting the size of this container in relation to the viewport */
    display: flex; /* using flexbox to decide where to automatically put the content i.e. the text */
    align-items: center; /* align text to the vertical center of the container */
    justify-content: center; /* align text to the horizontal center of the container */
    max-width: 62.5vw; /* setting a max width to prevent the image from getting too big and coer the text */
    min-width: 12.5vw; /* setting a min width to prevent the image from getting too small and becoming unrecognizable */
    transition: flex-basis 1s cubic-bezier(0,.9,.4,.99); /* making the flex-basis change transition smoothly over 1 seconds*/

}

section.service figure img {
    width: 40%; /* making the image take half the width of the container */
}

section.service .text {
    background: #1f1a1c;
    border-radius: var(--border-radius);
    flex: 1; /* making this container take the remaining space */
    display: flex; /* using flexbox to decide where to automatically put the content i.e. the text */
    flex-direction: column; /* stacking the text vertically */
    justify-content: center; /* align text to the vertical center of the container */
    padding: var(--gutter); /* padding around the text, using vw to make it responsive */
}

section.service .text a {
    font-family: "Space Mono", monospace;
}


/* service section animation */

@keyframes float {
    0% {
        transform: translateY(-5%);  /* moving the element up by 5% of its height*/
    }

    100% {
        transform: translateY(5%); /* moving the element down by 5% */
    }
}

section.service figure img {
    animation-name: float;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate; /* making the animation reverse direction each time it completes */
    animation-timing-function: cubic-bezier(.68,.03,.39,1.02); /* making the animation start and end smoothly */

}


/* different background colors for each service section figure */

section.service-sword figure {
    background: var(--color3);
}

section.service-edge figure {
    background: var(--color2);
}

section.service-light figure {
    background: var(--color1);
}


/* different font colors for each service section heading text and link text */
section.service-sword .text h2, section.service-sword .text a {
    color: var(--color3);
}
section.service-edge .text h2, section.service-edge .text a {
    color: var(--color2);
}
section.service-light .text h2, section.service-light .text a {
    color: var(--color1);
}


/* contact section styles */
section.contact {
    background: linear-gradient(var(--color1),var(--color3) 60%, var(--color2) 70%, #e5e5e5);
    border-radius: var(--border-radius);
    align-items: center;
    justify-content: center;
}

section.contact a {
    font-size: 100px;
    color: #000000;
    font-weight: 700;
    transition: filter 2s cubic-bezier(.68,.03,.39,1.02); /* making the color change transition smoothly over 2 seconds, with the selected bezier function as timing funciton*/
    will-change: filter; /* giving the browser a hint that the filter property will change, so it can optimize performance */
}

section.contact a:hover {
    filter: blur(20px); /* adding a slight blur effect on hover */
}

/* making the contact section text adjust if it does not fit the screen (it's 1440px wide)*/
@media only screen and (max-width: 1440px) and (min-width: 769px) {
    section.contact a {
        font-size: 50px;
    }
}


    
/* making the layout responsive for smaller screens */
@media only screen and (max-width: 768px) {

    html, body {
        --border-radius: 50px; /* reducing the border radius for smaller screens */
        --gutter: 6.25vw; /* increasing the gutter/padding for smaller screens */
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 40px;
    }

    nav ul li {
        margin-left: 20px;
    }

    section.service article {
        flex-direction: column; /* stacking the containers vertically instead of side by side */    
    }

    section.service figure {
        flex-basis: 25vh; /* changing the size of this container in relation to the viewport height instead of width */
    }

        section.service figure img {
        width: 20%; /* making the image take less width of the container */
    }

    section.contact a {
        font-size: 50px;
        transform: rotate(90deg); /* rotating the text to fit better on smaller screens */
    }


}